.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes the full height of the viewport */
}

.header {
    background-color: #fcfcfc;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #050000;
    text-decoration: none;
}

.headerLogo {
    height: 400px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 1000;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 40px;
}

.mainContent {
    flex: 1;
    padding-bottom: 60px; /* Add padding equal to or slightly larger than the footer height */
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1; /* Optional: to make it stand out */
    padding: 10px 0;
    font-size: 13px; /* Optional: adjust font size */
}
